<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened autosize="true">
    <app-badge></app-badge>
    <mat-divider></mat-divider>
    <button mat-flat-button routerLink="demo-1" routerLinkActive="mat-primary">Demo 1</button>
    <button mat-flat-button routerLink="demo-2" routerLinkActive="mat-primary">Demo 2</button>
    <button mat-flat-button routerLink="demo-3" routerLinkActive="mat-primary">Demo 3</button>
    <button mat-flat-button routerLink="demo-4" routerLinkActive="mat-primary">Demo 4</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
